.calculator{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    box-shadow: 12px 0 8px rgba(0,0,0,0.2);
    
}
.calculator h3{
    margin-top: 1.2rem;
    margin-left: .5rem;
    margin-bottom: 1.2rem;
    color: #f1f1f1;
    font-size: 1.3rem;

}
.calculator .value{
    grid-column: span 4;
    text-align: right;
    border: 0;
    outline: 0;
    padding: 0.4rem;
    height: 80px;
    font-size: 0.96rem;
}
.calculator span{
    display: grid;
    width: 60px;
    background-color: #292929;
    place-items: center;
    box-shadow: 3px 1px 8px rgba(255,255,255,0.1);
    border: 0.0003rem solid rgba(0,0,0,0.1);
    color: #fff;
    padding: .6rem;
    width: 100px;
    height: 100%;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.calculator span:hover{
    background: #2f2f2f;
}
.calculator span.clear{
    grid-column: span 2;
    width: 200px;
    height: 100px;
    padding: 0.8rem 0;
    height: 40px;
    background: rgb(255,163,26);
}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    height: 40px;
    background: rgb(255,163,26);
}

.calculator span:active{
   background: rgb(255,163,26);
   color: #fff;

}